/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 avr. 2018, 16:53:24
    Author     : mduraffour
*/

html{
    height: 100vh;
}

br{
    
}

body
{
background-color: lightgrey;
background-repeat: no-repeat;
font-family: "Trebuchet MS";
font-size: 20px;
height:80vh;
}

#gauche{
width:100%;
height:100%;
border-right-style: solid;
border-right-color: darkblue;
}

#droite{
width:100%;
height:100%;
}

#retour{
    font-size: 10px;
    float: left
}

input{
    border-radius: 5px;
}